{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="mb-3">Daftar Perumahan</h3>
          </div>
          <div class="card-body">
            <a href="{% url 'create_perumahan' %}" class="btn btn-primary mb-3">Tambah Data Perumahan</a>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class="text-primary">
                  <tr>
                    <th>No.</th>
                    <th>Nama</th>
                    <th>Aksi</th>
                  </tr>
                </thead>
                <tbody>
                  {% for perumahan in perumahan_list %}
                  <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ perumahan.nama_perumahan }}</td>
                    <td>
                      <a href="{% url 'update_perumahan' perumahan.id %}" class="btn btn-warning btn-sm">Edit</a>
                      <form method="POST" action="{% url 'delete_perumahan' perumahan.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Yakin ingin menghapus?')">Hapus</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}