{% extends "layouts/base.html" %}
{% load static %}  

{% block title %} Tambah Anggota Keluarga {% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard_data' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'master_data' %}">Setting Master</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Data Keluarga</li>
              </ol>
            <h5 class="title">Tambah Anggota Keluarga</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}

              <div class="form-group">
                <label>Nama Kepala Keluarga</label>
                <input type="text" value="{{ penduduk.nama_kk }}" class="form-control" readonly>
                <input type="hidden" name="penduduk" value="{{ penduduk.id }}">
              </div>

              <div class="form-group">
                <label for="id_nama">Nama Anggota</label>
                <input type="text" name="nama" id="id_nama" class="form-control">
              </div>

              <div class="form-group">
                <label for="id_status">Status</label>
                <select name="status" id="id_status" class="form-control">
                  <option value="ayah">Ayah</option>
                  <option value="ibu">Ibu</option>
                  <option value="anak">Anak</option>
                  <option value="saudara">Saudara</option>
                  <option value="lainnya">Lainnya</option>
              </select>              
              </div>

              <div class="form-group">
                <label for="id_tgl_lahir">Tanggal Lahir</label>
                <input type="date" name="tgl_lahir" id="id_tgl_lahir" class="form-control">
              </div>
              <button type="submit" class="btn btn-fill btn-primary">Simpan</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
