{% extends "layouts/base.html" %}
{% load static %}  

{% block title %} Tambah Data Pekerja {% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard_data' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'master_data' %}">Setting Master</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Data Pekerja</li>
              </ol>
            </nav>
            <h5 class="title">Tambah Pekerja</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="id_nama_pekerja">Nama Pekerja</label>
                <input type="text" name="nama_pekerja" id="id_nama_pekerja" class="form-control">
              </div>

              <div class="form-group">
                <label for="id_role">Role</label>
                <select name="role" id="id_role" class="form-control">
                  <option value="Security">Security</option>
                  <option value="Petugas Kebersihan">Petugas Kebersihan</option>
                  <option value="Marbot">Marbot</option>
                </select>
              </div>

              <div class="form-group">
                <label for="id_status">Status</label>
                <select name="status" id="id_status" class="form-control">
                  <option value="1">Aktif</option>
                  <option value="0">Tidak Aktif</option>
                </select>
              </div>

              <div class="form-group">
                <label for="id_tgl_mulai_bekerja">Tanggal Mulai Bekerja</label>
                <input type="date" name="tgl_mulai_bekerja" id="id_tgl_mulai_bekerja" class="form-control">
              </div>

              <button type="submit" class="btn btn-fill btn-primary">Simpan</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
