{% extends "layouts/base.html" %}
{% load static %}  

{% block title %} Tambah Penyewa {% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard_data' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'master_data' %}">Setting Master</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tambah Data Penyewa</li>
              </ol>
            <h5 class="title">Tambah Penyewa</h5>
          </div>
          <div class="card-body">
            <form method="POST">
              {% csrf_token %}

              <div class="form-group">
                <label>Nama Kepala Keluarga</label>
                <input type="text" value="{{ penduduk.nama_kk }}" class="form-control" readonly>
                <input type="hidden" name="penduduk" value="{{ penduduk.id }}">
              </div>

              <div class="form-group">
                <label for="id_nama_penyewa">Nama Penyewa</label>
                <input type="text" name="nama_penyewa" id="id_nama_penyewa" class="form-control">
              </div>

              <div class="form-group">
                <label for="id_tgl_mulai_sewa">Tanggal Mulai Sewa</label>
                <input type="date" name="tgl_mulai_sewa" id="id_tgl_mulai_sewa" class="form-control">
              </div>

              <div class="form-group">
                <label for="id_tgl_terakhir_sewa">Tanggal Terakhir Sewa</label>
                <input type="date" name="tgl_terakhir_sewa" id="id_tgl_terakhir_sewa" class="form-control">
              </div>

              <div class="form-group">
                <label for="id_status">Status</label>
                <select name="status" id="id_status" class="form-control">
                  <option value="1">Aktif</option>
                  <option value="0">Tidak Aktif</option>
                </select>
              </div>

              <button type="submit" class="btn btn-fill btn-primary">Simpan</button>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
