<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-mini">
                CT
            </a>
            <a href="javascript:void(0)" class="simple-text logo-normal">
                Creative Tim
            </a>
        </div>
        <ul class="nav">
            <!-- Dashboard -->
            <li class="{% if segment == 'dashboard' %} active {% endif %}">
                <a href="{% url 'index' %}">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Dashboard</p>
                </a>
            </li>

                <!-- Setting Master  -->
                <li class="{% if segment == 'master' %} active {% endif %}">
                    <a href="{% url 'master_data' %}">
                        <div>
                            <i class="tim-icons icon-settings"></i>
                            <p class="d-inline">Setting Master</p>
                        </div>
                    </a>
                </li>


            <!-- Transaksi -->
            <li class="{% if segment == 'transaksi' %} active {% endif %}">
                <a href="#">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>Transaksi</p>
                </a>
            </li>

            <!-- Reporting / Dashboard -->
            <li class="{% if segment == 'reporting' %} active {% endif %}">
                <a href="#">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>Reporting</p>
                </a>
            </li>

            <!-- Logout -->
            <li>
                <a href="{% url 'logout' %}" class="nav-item dropdown-item">
                    <i class="tim-icons icon-button-power"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
    </div>
</div>
